<%= form_for '', :url => password_check_path do |f|%>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Send me reset password instruction' %>
  </div>
<% end %>
